language: ruby

env:
  global:
    # in TravisCI settings, set CCKEY to your CodeClimate Test Reporter ID:
    - CC_TEST_REPORTER_ID=$CCKEY
    - CCTR=./cc-test-reporter
    # set to whatever timezone your app assumes from this list:
    # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
    - TZ=America/Los_Angeles

before_script:
  - psql -c 'create database my_database_test;' -U postgres
  
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > $CCTR
  - chmod +x $CCTR
  - $CCTR before-build
  
script:
  # setup the test database, including any seed data
  - bundle exec rake db:setup
  # insert here any other steps needed (load other sample data, etc) before starting tests 
  # run RSpec tests, and capture coverage
  - bundle exec rspec
  - $CCTR format-coverage --output coverage/codeclimate.$SUITE.json
after_script:
  # combine coverage from all suites, and upload to CodeClimate
  - $CCTR upload-coverage
  - $CCTR after-build --exit-code $TRAVIS_TEST_RESULT

services:
  - postgresql
addons:
  postgresql: "10"
rvm:
 - 2.6.3
